<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" userInstalled="true" />
  <package id="NetOffice.Core" version="1.7.2" targetFramework="net452" userInstalled="true" />
  <package id="NetOffice.Word" version="1.7.2" targetFramework="net452" userInstalled="true" />
</packages>